#header {
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
}
/* #logo-container svg {
    filter: drop-shadow(2px 4px 6px rgba(212, 209, 66, 1)); 
} */
.logo-container {
    height: 66px;
    display: flex;
    align-items: center;
}

.navbar-collapse {
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .0rem 0rem;
    color: #b4aed0;
    text-decoration: none;
    padding: 10px;
}

.nav-item :hover {
    color: #b4aed04f;
}

#header-hidden {
    display: none;
}

@media (max-width:480px) {
    .navbar-collapse {
        display: none;
    }

    #header-hidden {
        display: flex;
        flex-direction: row-reverse;
    }
}