#header {
    height: 72px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
}

/* #logo-container svg {
    filter: drop-shadow(2px 4px 6px rgba(212, 209, 66, 1)); 
} */
.logo-container {
    height: 66px;
    display: flex;
    align-items: center;
}

/* .logo:active {
    opacity: 0.5;
} */
.logo{
    cursor: pointer;
    transition: opacity 0.5s ease;
}
.logo.clicked{
    opacity: 0.5;
}

.navbar-collapse {
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

.nav-link {
    display: block;
    padding: .0rem 0rem;
    color: #b4aed0;
    text-decoration: none;
    padding: 10px;
}

.nav-item :hover {
    color: #b4aed04f;
}

#header-hidden {
    display: none;
}

.menu-toggler-icon {
    cursor: pointer;
    border: 0.1px solid #c8b4c136;
    border-radius: 60px;
}
.menu-toggler-icon.clicked{
    opacity: 0.5;  
}
/* .menu-toggler-icon:active {
    opacity: 0.5;
} */

.menu-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-bottom: 10px;
    color: white
}

.menu-link {
    cursor: pointer;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #ddd;
}

.menu-link:active {
    opacity: 0.5;
}

@media (max-width:480px) {
    .navbar-collapse {
        display: none;
    }

    #header-hidden {
        display: flex;
        flex-direction: row-reverse;
    }
}